# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# 원본 데이터 및 미디어 파일 Git 추적 제외
src/data/memories.ts

# public/videos 폴더 내 모든 파일 무시
public/videos/*
# 단, 아래 파일은 추적 대상에 포함
!public/videos/.gitkeep
!public/videos/sample-video.mp4

# public/music 폴더 내 모든 파일 무시
public/music/*
# 단, 아래 파일은 추적 대상에 포함
!public/music/sample-bgm.mp3


# scripts/ 폴더 내 모든 파일 무시
# scripts/*